<form action="/clientes/create" method="get">
  <div class="mb-3">
    <label for="nombre">NOmbre</label>
    <input type="text" id="nombre" name="nombre">
  </div>
  <div class="mb-3">
    <label for="apellido">apellido</label>
    <input type="text" id="apellido">
  </div>
  <button type="submit" class="btn btn-primary">enviar</button>
</form>